@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&display=swap');

.App {
  background-color: #1F2643;
}

* {
  /* box-sizing: border-box; */
  margin: 0px;
  padding: 0px;
}

.App-logo {
  height: 12vmin;
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
} */

.App-header {
  background-image: url('./images/Background.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 155vh;
  width: 100%;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
  /* position: fixed; */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin: 10px 30px 0px;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 24px;
}

nav {
  padding: 0px;
}


nav ul li:nth-child(2) {
  margin-left: 150px;
}

.hero-text {
  font-family: 'Montserrat';
}

.container-fluid {
  /* margin: 3px auto 10px; */
  padding: 20px 50px;
  background-image: url('./images/Bubbles.svg');
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1440px !important;
  margin: 0px auto;
  /* z-index: ; */
}

.container-fluid .text-blue {
  color: #ABC8FF;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
}

.text-blue,
.text-white {
  width: 668px;
  height: 288px;
}

.container-fluid .text-white,
.container-fluid-2 .text-white p {
  color: #FFFFFF;
}


.container-fluid #hero-text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  width: 534px;
  height: 76px;
}


#git-btn {
  margin-left: 33px;
}

#gtb {
  background: linear-gradient(90deg, #ABC8FF 0%, #9CFFED 100%);
}

.container-fluid-2 h2 {
  margin-top: 30px;
  text-align: center;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  padding: 150px;
  margin: 0px 280px 0px;
}

.container-fluid-2 .text-grad {
  width: 668px;
  height: 288px;
  color: #AAF3FB;
}

.d-flex {
  margin-top: 15px;
  /* z-index: 1; */
}


/* .section-title {} */

.container-fluid-2 h2 .text-white {
  color: #FFFFFF;

}

.container-fluid-2 {
  margin: 0 auto;
}

.images {
  justify-content: center;
  width: 80%;
  background-image: url('./images/Bubbles.svg');
  background-repeat: no-repeat;
  background-size: cover;
  /* z-index: -1; */
}

.images img {
  max-width: 65%;
  align-self: center;
  margin: 5px 220px 5px;
}

#text-other {
  color: #ABC8FF;
}

.slogan {
  margin: 30px auto 20px;
  color: #FFFFFF;
  width: 668px;
  height: 59px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  text-align: center;
}

.col-md-4 {
  /* box-sizing: border-box; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 36px;
  gap: 0px;
  width: 463.33px;
  height: 306px;
  /* background: #1F2643; */
  border: 1px solid #545E86;
  border-radius: 5px;

}

.size {
  width: 301.33px;
  height: 29px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 29px;
  color: #FFFFFF;
  ;
}

.col-md-4 .h4-title {
  width: 301.33px;
  height: 19px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  ;
}


.row {
  margin: 0px 20px 20px 0px;
  padding: 5px;
}

.my-container {
  max-width: 1440px !important;
  width: 96%;
  padding-right: 25px;
  padding-left: 25px;
  margin: auto;
}

.my-container-2 {
  max-width: 1440px !important;
  width: 100%;
  padding-right: 25px;
  padding-left: 25px;
  margin: auto;
}

.p-title {
  margin: 80px auto 50px;
  width: 668px;
  height: 88px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  background: linear-gradient(90deg, #FFFFFF 0%, #9CFFED 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.case {
  /* box-sizing: border-box; */
  width: 647px;
  height: 600px;
  background: #020204;
  border: 2px solid #545E86;
  border-radius: 8px;
  padding: 0px;
  margin-bottom: 20px;
}

.case {
  margin: 0;
}

.case img {
  /* position: absolute; */
  width: 100%;
  padding: 0px;
  margin: 0px;
  margin-left: 0px;
  height: 360px;
  margin-bottom: 25px;
}

#gtb:hover {
  background: #28C9D3;
}

.case-title {
  width: 370.06px;
  height: 29px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
  /* text-align: center; */
  display: inline-block;
  margin: 10px 120px;
}

.case-p {
  width: 381px;
  height: 19px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  padding-top: 28px;
  padding-left: 20px;
  margin-left: 14px;
  margin-bottom: 10px;
}

.case .product {
  width: 94.94px;
  height: 60px;
  background: url('./images/Evergreen_logo_small_white\ 1\ 1.png');
  opacity: 0.75;
  padding: 8px;
  margin-left: 23px;
}

.case .product-2 {
  width: 94.94px;
  height: 60px;
  background: url('./images/kart.png');
  opacity: 0.75;
  padding: 8px;
  margin-left: 30px;
}

.case .pad {
  padding-left: 30px;
  margin-bottom: 20px;
}

.bg-footer {
  background: #2E3658;
  margin-top: 80px;
}

.row-cols-6>* {
  flex: 0 0 auto;
  width: 223px;
}

.case-study {
  margin-bottom: 100px;
}

.box {
  border: none;
}

/* 
.texting {
  width: 236px;
  height: 20px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 20px;
} */

.p-title-2 {
  width: 236px;
  height: 20px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 20px;
  background: linear-gradient(90deg, #ABC8FF 0%, #9CFFED 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}


.flex-1 .text-grad {
  color: #AAF3FB;
}

.flex-1 .text-grad,
.flex-1 .text-white {
  width: 646px;
  height: 177px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 59px
}


.flex-1 #about-text {
  width: 646px;
  height: 220px;
  font-family: 'Paragraph';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #FFFFFF;
}


.flex-2 img {
  /* position: absolute; */
  width: 591.98px;
  height: 769px;
  margin-left: 14px;
}